// Taken from https://loading.io/css/

$border_color: #fff;

.lds_dual_ring_loader_wrapper {
  @apply flex h-full w-full items-center justify-center;
}

.lds_dual_ring_loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds_dual_ring_loader:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $border_color;
  border-color: $border_color transparent $border_color transparent;
  animation: lds_dual_ring_loader 1.2s linear infinite;
}
@keyframes lds_dual_ring_loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
